{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>도서 추천 서비스</title>
  <style>
    body {
      font-family: 'Noto Serif KR', serif;
      background-color:rgb(248, 248, 248);
      margin: 0;
      padding: 0;
    }
    header {
      background-color: #D2B9AD;
      padding: 1rem 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    nav a {
      margin-left: 1rem;
      color: #2C1B13;
      text-decoration: none;
    }
    nav a:hover {
      color: #A67C52;
    }
    .container {
      padding: 0;
    }
  </style>
</head>
<body>
  <header>
    <div>로고</div>
    <nav>
      {% if user.is_authenticated %}
        <a href="{% url "books:home" %}">홈</a>
        <a href="#" onclick="openModal()">나를 위한 추천✨</a>
        <a href="{% url "accounts:mypage" %}">마이페이지</a>
      {% else %}
      <a href="{% url "books:home" %}">홈</a>
      <a href="{% url "accounts:signup" %}">회원가입</a>
      <a href="{% url "accounts:login" %}">로그인</a>
      {% endif %}
    </nav>
  {% include "recommendations/modal_input.html" %}
  </header>

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

  <script>
    function openSurveyPopup() {
      const width = 720
      const height = 800
      const left = (screen.width - width) / 2
      const top = (screen.height - height) / 2

      {% comment %} window.open(
        "{% url 'survey_start' %}",
        "surveyPopup",
        `width=${width},height=${height},top=${top},left=${left},toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no`
      ); {% endcomment %}
    }

      function openModal() {
        document.getElementById('ai-recommend-modal').style.display = 'flex';
      }
      function closeModal() {
        document.getElementById('ai-recommend-modal').style.display = 'none';
      }
  </script>
</body>
</html>