{% extends "base.html" %}
{% block content %}
<body>
  <header>
    <form action="#">
      <label>
        <input type="sumbit" placeholder="입력하세요.">
      </label>
    </form>
  </header>
  <main>
    <section>
      <div class="book-grid">
        <div class="book">
          <img src="" alt="">
          <button>자세히</button>
        </div>
        <!-- 반복 요소 -->
      </div>
    </section>
    <footer>
      <div class="pagination">
        <span>1</span><span>/</span><span>2</span><span>/</span><span>3</span><span>/</span><span>4</span><span>/</span><span>5</span><span>/</span><span>6</span>
      </div>
    </footer>
  </main>
</body>
{% endblock content %}

